.main-footer {
    background: #282828;
    color: #828282;
  }

  .main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__title {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
  }

  .column--50-25 {
    width: 48%;
    padding: 20px;
  }

  .footer__txt .fa-twitter {
    color: #3bbef5;
    margin-right: 5px;
  }

  .footer__link {
    color: #3498db;
  }

  .social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .social-icon i {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 50%;
  }

  .social-icon .fa-facebook-f {
    background: #3b5998;
  }

  .social-icon .fa-twitter {
    background: #3bbef5;
  }

  .social-icon .fa-pinterest {
    background: #e23139;
  }

  .social__link {
    display: block;
    text-decoration: none;
    color: #828282;
  }

  .contact-icon {
    display: flex;
    align-items: center;
  }

  .contact-icon .fas {
    color: white;
    display: block;
    margin-right: 10px;
  }
  .copy {
    background: #211e1e;
    padding: 15px;
    color: white;
    text-align: center;
    width: 98%;
  }
  .column--50-25 {
    width: 24%;
  }